header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 20px;
        background-color: #c682fa0a;
        box-shadow: 0 0 5px 1px #000;
        border-radius: 20px;
        height: 100%;
        padding: 2dvh;
        @media screen and (min-width: 1200px) {
            max-width: 1400px !important ;
        }

        h3 {
            font-size: 1.4em;
            font-weight: 600;
            color: #42007185;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
        }

        .line-h {
            width: 100%;
            height: 2px;
            border-top: 2px solid #42007163;
            margin: 10px 0;
        }

        .left {
            flex-basis: 60%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 10px;
            box-sizing: border-box;

            h2 {
                font-size: 2.6em;
                font-weight: 600;
                color: #5e1a98;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;

                span {
                    color: #f7c607;
                    font-weight: 600;
                }
            }

            p {
                color: #000;
                font-size: 1em;
                opacity: 0.7;
            }

            .info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .info-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    flex-basis: 30%;
                    border-right: 1px solid #5e1a98;
                    gap: 10px;

                    &:nth-child(3) {
                        border: none;
                    }

                    h4 {
                        font-size: 1.1em;
                        font-weight: 600;
                        color: #420071;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;
                    }

                    h5 {
                        font-size: 1em;
                        color: #000;
                    }
                }
            }

            .degree {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .info-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    flex-basis: 70%;
                    gap: 10px;

                    &:nth-child(2) {
                        border-left: 1px solid #5e1a98;
                        padding-left: 20px;
                        flex-basis: 30%;
                    }

                    h4 {
                        font-size: 1.1em;
                        font-weight: 600;
                        color: #420071;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;
                    }

                    h5 {
                        font-size: 1em;
                        color: #000;
                    }
                }
            }

            .fields {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .info-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    flex-basis: 40%;
                    gap: 10px;

                    &:nth-child(2) {
                        border-left: 1px solid #5e1a98;
                        padding-left: 20px;
                        flex-basis: 60%;
                    }

                    h4 {
                        font-size: 1.1em;
                        font-weight: 600;
                        color: #420071;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;
                    }

                    h5 {
                        font-size: 1em;
                        color: #000;
                    }
                }
            }
        }

        .right {
            flex-basis: 40%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 10px;

            .images {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                flex-direction: column;
                width: 100%;

                .main-image {
                    width: 100%;
                }

                .images-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    gap: 10px;

                    .image-wrapper {
                        flex-basis: 25%;
                        width: 100px;
                        height: 100px;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100px;
                        }

                        &:nth-child(5) {
                            display: inline-block;
                            cursor: pointer; /* Indicates it's clickable */
                            width: 100px; /* Set a specific width or use 100% for responsiveness */

                            /* Purple overlay using ::before */
                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(128, 0, 128, 0.5);
                                transition: opacity 0.3s ease;
                                border-radius: 5px;
                            }

                            /* "+16" label using ::after */
                            &::after {
                                content: "+16";
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: white;
                                font-size: 24px;
                                font-weight: bold;
                                transition: opacity 0.3s ease; /* Smooth transition */
                            }
                        }
                    }
                }
            }

            .contact-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .contact-info-item {
                    flex-basis: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    h4 {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;
                        font-size: 1.2em;
                        color: #420071;
                        svg {
                            font-size: 1.2em;
                            color: #420071;
                        }
                    }

                    .social-media {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        font-size: 1.8em;

                        svg {
                            color: #420071;
                        }
                    }
                }
            }
        }
    }
}

.title-main {
    font-weight: 600;
    color: #5e1a98;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: 1.4em;

    .line-l {
        background: linear-gradient(to right, #ffffff00, #5e1a98);
        width: 6em;
        height: 3px;
    }

    .line-r {
        background: linear-gradient(to left, #ffffff00, #5e1a98);
        width: 6em;
        height: 3px;
    }
}

.informations-uni {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    .informations-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin: 20px;
        height: 100%;
        padding: 5dvh;

        @media screen and (min-width: 1200px) {
            max-width: 1400px !important ;
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1em;
            flex-basis: 50%;

            .rules-list {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                gap: 10px;

                h4 {
                    flex-basis: 30%;
                    color: #5e1a98;
                }
            }
        }

        .right {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1em;

            .line {
                background: linear-gradient(to right, #ffffff00, #f7c7079c, #ffffff00);
                height: 20px;
                width: 100%;
                margin: 20px 0;
            }

            .cards {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;

                .rank {
                    flex-basis: 40%;
                    height: 100%;
                    box-shadow: 0 0 20px -2px #000;
                    border-radius: 20px;
                    padding: 20px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 0.3em;

                        h5 {
                            font-size: 0.8em;
                            color: #5e1a98;

                            &:nth-child(3) {
                                opacity: 0.6;
                            }
                        }

                        h3 {
                            font-size: 1.8em;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.description-uni {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;

    .description-uni-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        margin: 20px;
        margin-top: 0;
        height: 100%;
        padding: 5dvh;

        @media screen and (min-width: 1200px) {
            max-width: 1400px !important ;
        }

        h2 {
            font-size: 2em;
            color: #420071;
            font-weight: 600;
        }

        p {
            font-size: 1em;
        }
    }
}

.degrees-offered {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .degrees-offered-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 20px;
        margin: 20px;
        margin-top: 0;
        height: 100%;
        padding: 5dvh;

        @media screen and (min-width: 1200px) {
            max-width: 1400px !important ;
        }

        .left {
            flex-basis: 50%;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 1em;

            h2 {
                font-size: 2em;
                color: #420071;
                font-weight: 600;
            }

            p {
                font-size: 1em;
            }
        }

        .right {
            flex-basis: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            .cards-cont {
                display: flex;
                justify-content: space-evenly;
                align-content: center;
                flex-wrap: wrap;
                gap: 10px;
                position: relative;
                padding: 20px;
                border-radius: 35px; /* Rounded corners */
                border: 5px solid transparent;
                background:
                    linear-gradient(white, white) padding-box,
                    linear-gradient(to bottom, #5d1a9888 10%, #ffffff00 80%) border-box;

                .card {
                    flex-basis: 40%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    padding: 20px;
                    background: white; /* Inner background */
                    border-radius: 20px;
                    z-index: 1; /* Ensures it stays above the gradient */
                    overflow: hidden; /* Prevents pseudo-element from leaking */

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        padding: 5px; /* Border thickness */
                        background: linear-gradient(to bottom, #5d1a9888 10%, #ffffff00 80%);
                        border-radius: 25px;
                        z-index: -1; /* Keeps it behind the card */
                        mask:
                            linear-gradient(white, white) content-box,
                            linear-gradient(white, white);
                        mask-composite: exclude;
                        -webkit-mask:
                            linear-gradient(white, white) content-box,
                            linear-gradient(white, white);
                        -webkit-mask-composite: destination-out;
                    }

                    img {
                        flex-shrink: 30%;
                    }

                    h3 {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

.line-div {
    background: linear-gradient(to right, #420071, #f7c607);
    height: 5px;
    width: 100%;
}

.uni-req {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    padding: 5dvh;

    .req-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .top-cont {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            gap: 20px;

            .left {
                flex-basis: 50%;

                h2 {
                    font-size: 2.4em;
                    font-weight: 600;
                    color: #420071;
                }

                p {
                    font-size: 1em;
                }
            }

            .right {
                flex-basis: 45%;

                .card {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    padding: 20px;
                    background: white; /* Inner background */
                    border-radius: 20px;
                    z-index: 1; /* Ensures it stays above the gradient */
                    overflow: hidden; /* Prevents pseudo-element from leaking */

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        padding: 5px; /* Border thickness */
                        background: linear-gradient(to right, #5d1a9888 20%, #ffffff00 90%);
                        border-radius: 25px;
                        z-index: -1; /* Keeps it behind the card */
                        mask:
                            linear-gradient(white, white) content-box,
                            linear-gradient(white, white);
                        mask-composite: exclude;
                        -webkit-mask:
                            linear-gradient(white, white) content-box,
                            linear-gradient(white, white);
                        -webkit-mask-composite: destination-out;
                    }

                    h4 {
                        font-size: 1em;
                        color: #420071;
                    }
                }
            }
        }

        .bottom-cont {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 20px;

            .card {
                flex-basis: 25%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                padding: 20px;
                background: white; /* Inner background */
                border-radius: 20px;
                z-index: 1; /* Ensures it stays above the gradient */
                overflow: hidden; /* Prevents pseudo-element from leaking */

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 2px; /* Border thickness */
                    background: linear-gradient(to bottom, #420071 20%, #ffffff00 90%);
                    border-radius: 25px;
                    z-index: -1; /* Keeps it behind the card */
                    mask:
                        linear-gradient(white, white) content-box,
                        linear-gradient(white, white);
                    mask-composite: exclude;
                    -webkit-mask:
                        linear-gradient(white, white) content-box,
                        linear-gradient(white, white);
                    -webkit-mask-composite: destination-out;
                }

                h4 {
                    color: #420071;
                    font-size: 1em;
                }
            }
        }
    }
}

.fees {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    padding: 5dvh;

    .fees-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .left {
            flex-basis: 50%;

            h2 {
                font-size: 2.4em;
                font-weight: 600;
                color: #420071;
            }

            p {
                font-size: 1em;
            }
        }

        .right {
            flex-basis: 50%;

            .cards-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;

                .card {
                    flex-basis: 45%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    position: relative;
                    background: white; /* Inner background */
                    border-radius: 20px;
                    z-index: 1; /* Ensures it stays above the gradient */
                    overflow: hidden; /* Prevents pseudo-element from leaking */
                    min-height: 25dvh;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        padding: 2px; /* Border thickness */
                        background: linear-gradient(to bottom, #420071 20%, #ffffff00 90%);
                        border-radius: 25px;
                        z-index: -1; /* Keeps it behind the card */
                        mask:
                            linear-gradient(white, white) content-box,
                            linear-gradient(white, white);
                        mask-composite: exclude;
                        -webkit-mask:
                            linear-gradient(white, white) content-box,
                            linear-gradient(white, white);
                        -webkit-mask-composite: destination-out;
                    }

                    h3 {
                        font-size: 1.6em;
                        color: #870ae6;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.why {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    padding: 5dvh;

    .why-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

        .left {
            flex-basis: 50%;

            h2 {
                font-size: 2.2em;
                font-weight: 600;
                color: #420071;
            }

            p {
                font-size: 1em;
            }
        }

        .right {
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
            }
        }
    }
}

.scholarship {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    padding: 5dvh;

    .scholarship-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            flex-basis: 48%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
            }
        }

        .right {
            flex-basis: 50%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            height: 100%;
            gap: 30px;

            h2 {
                font-size: 2.2em;
                font-weight: 600;
                color: #420071;
            }

            p {
                font-size: 1.2em;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 15px 40px;
                font-size: 1em;
                font-weight: 600;
                border-radius: 10px;
                outline: none;
                border: none;
                background-color: #5e1a98; /* Purple text */
                color: #fff;
                cursor: pointer;
            }

            &:hover {
                color: #000; /* Black text on hover */
            }
        }
    }
}

.graduates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;

    .title-main {
        margin-bottom: 5dvh;
    }

    .graduates-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        text-align: left;
        padding-right: 50px;
        padding-left: 50px;
        box-sizing: border-box;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;

        @media screen and (min-width: 1200px) {
            max-width: 1400px !important ;
        }

        h2 {
            font-size: 2em;
            font-weight: 600;
            color: #410071;
            text-align: center;
        }

        h4 {
            font-size: 1em;
            color: #410071;
            width: 60%;
            text-align: center;
        }

        .bottom-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 100px;

            .per-card {
                flex-basis: 30%;
                position: relative;

                img {
                    position: relative;
                    filter: grayscale(100%);
                    -webkit-mask-image: -webkit-gradient(
                        linear,
                        left top,
                        left bottom,
                        from(rgba(0, 0, 0, 1)),
                        to(rgba(0, 0, 0, 1)),
                        to(rgba(0, 0, 0, 0))
                    );
                    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
                }

                .text {
                    position: absolute;
                    bottom: 0;
                    left: -5px;
                    box-sizing: border-box;
                    padding: 10px;

                    h3 {
                        font-size: 1em;
                        font-weight: 600;
                        color: #5e1a98;
                    }

                    h5 {
                        font-size: 0.8em;
                        color: #410071;
                    }
                }
            }
        }
    }
}

.universities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px 0 50px;
    box-sizing: border-box;

    .universities-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        text-align: left;
        padding: 50px;

        @media screen and (min-width: 1200px) {
            max-width: 1400px !important ;
        }

        h2 {
            font-size: 3em;
            color: #410071;
            font-weight: 600;
            text-align: center;
            width: 100%;
        }

        p {
            font-size: 0.8em;
            text-align: center;
            width: 50%;
        }

        .universities-cards {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            box-sizing: border-box;

            .universities-card {
                flex-basis: 25%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 5px;
                box-sizing: border-box;
                border-radius: 20px; /* Rounded corners */
                border: transparent 3px solid;
                background:
                    linear-gradient(
                            180deg,
                            rgba(255, 255, 255, 1) 55%,
                            rgb(255, 244, 212) 74%,
                            rgba(255, 255, 255, 1) 89%,
                            rgba(255, 255, 255, 1) 100%
                        )
                        padding-box,
                    linear-gradient(to bottom, #f7c607, #870ae6) border-box;
                padding: 10px;

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 20px;
                    margin-bottom: 10px;
                }

                .rating {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 5px;

                    svg {
                        color: #fcc51f;
                    }
                }

                h4 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    svg {
                        color: #5e1a98;
                    }
                }

                h3 {
                    color: #870ae6;
                    font-size: 1em;
                    font-weight: 600;
                }

                p {
                    width: 100%;
                    opacity: 0.8;
                    margin-bottom: 10px;
                    text-align: justify;
                }

                button {
                    width: 100%;
                    height: 40px;
                    border-radius: 10px;
                    border: transparent;
                    background: #5e1a98;
                    color: white;
                    cursor: pointer;
                    transition: 0.3s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    font-size: 1em;

                    svg {
                        color: #ffc300;
                    }

                    &:hover {
                        background: #870ae6;
                    }
                }
            }
        }

        .explore {
            background-color: #fcc51f;
            color: #5e1a98;
            outline: none;
            border: none;
            border-radius: 10px;
            padding: 15px 30px;
            font-weight: 600;
            font-size: 1em;
        }
    }
}
