
header {
    height: 100%;
    width: 100%;
    padding-top: 5dvh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url(/assets/images/About/HeroBG.svg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    background-clip: border-box;

    .header-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        padding-right: 50px;
        padding-left: 50px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;

        @media screen and (min-width: 1200px) {
            max-width: 1400px !important ;
        }

        .header-left {
            flex-basis: 50%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;
            box-sizing: border-box;
            padding-top: 20px;

            h2 {
                font-size: 2.4em;
                font-weight: 600;

                span {
                    color: #870ae6;
                    font-weight: 600;
                }
            }

            p {
                font-size: 1.2em;
                opacity: 0.8;
            }

            button {
                padding: 15px 30px;
                background-color: #5e1a98;
                color: #fff;
                border-radius: 10px;
                border: none;
                outline: none;
                font-weight: 600;
                font-size: 1em;
            }
        }

        .header-right {
            flex-basis: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;

            img {
                width: 90%;
            }
        }
    }
}

.title-main {
    font-weight: 600;
    color: #5e1a98;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    top: 0;

    .line-l {
        background: linear-gradient(to right, #ffffff00, #5e1a98);
        width: 6em;
        height: 3px;
    }

    .line-r {
        background: linear-gradient(to left, #ffffff00, #5e1a98);
        width: 6em;
        height: 3px;
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;

    .services-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        text-align: left;
        padding-right: 50px;
        padding-left: 50px;
        box-sizing: border-box;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;

        @media screen and (min-width: 1200px) {
            max-width: 1400px !important ;
        }

        .services-main {
            display: flex;

            .left {
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h2 {
                    font-weight: 600;
                    color: #410071;
                    font-size: 3.3em;
                }

                p {
                    font-size: 1em;
                }
            }

            .right {
                flex-basis: 50%;

                .service-card {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                    padding: 40px 40px;
                    box-sizing: border-box;
                    border-radius: 20px; /* Rounded corners */
                    border: transparent 5px solid;
                    background:
                        linear-gradient(to right, #ffffff, #fcc51f) padding-box,
                        linear-gradient(to bottom, #f7c607, #870ae6) border-box;

                    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);

                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        h4 {
                            font-size: 1.2em;
                            font-weight: 600;
                        }

                        p {
                            font-size: 1em;
                        }
                    }
                }
            }
        }

        .services-cards {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            box-sizing: border-box;

            .service-card {
                flex-basis: 25%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                box-sizing: border-box;
                border-radius: 20px; /* Rounded corners */
                border: transparent 3px solid;
                background: linear-gradient(to bottom, #f7c607, #870ae6) border-box;

                .images-container {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    background-color: #fff;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    overflow: hidden;
                    padding-top: 20px;

                    img {
                        width: 6em;
                    }

                    .brick-left {
                        width: 4em;
                    }

                    .brick-right {
                        width: 4em;
                        transform: rotateY(180deg);
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    text-align: center;
                    background: linear-gradient(
                            180deg,
                            rgba(255, 255, 255, 1) 17%,
                            rgba(255, 233, 165, 1) 50%,
                            rgba(255, 255, 255, 1) 83%
                        )
                        padding-box;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    padding: 40px 30px;

                    h4 {
                        color: #410071;
                        font-size: 1.2em;
                        font-weight: 600;
                    }

                    p {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}

.founders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;

    .founders-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        text-align: left;
        padding-right: 50px;
        padding-left: 50px;
        box-sizing: border-box;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;

        @media screen and (min-width: 1200px) {
            max-width: 1400px !important ;
        }

        .top-content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .left {
                flex-basis: 50%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                gap: 20px;

                h3 {
                    font-size: 1.8em;
                    font-weight: 600;
                    color: #410071;
                }

                p {
                    font-size: 1em;
                    color: #410071;
                }
            }

            .right {
                flex-basis: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .bottom-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 100px;

            .per-card {
                flex-basis: 30%;
                position: relative;

                img {
                    position: relative;
                    filter: grayscale(100%);
                    -webkit-mask-image: -webkit-gradient(
                        linear,
                        left top,
                        left bottom,
                        from(rgba(0, 0, 0, 1)),
                        to(rgba(0, 0, 0, 1)),
                        to(rgba(0, 0, 0, 0))
                    );
                    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
                }

                .text {
                    position: absolute;
                    bottom: 0;
                    left: -5px;
                    box-sizing: border-box;
                    padding: 10px;

                    h3 {
                        font-size: 1em;
                        font-weight: 600;
                        color: #5e1a98;
                    }

                    h5 {
                        font-size: 0.8em;
                        color: #410071;
                    }
                }
            }
        }
    }
}

.why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
    background: url(/assets/images/About/ChooseBG.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: scroll;

    .title-main {
        margin-bottom: 5dvh;
    }

    .whyus-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        text-align: left;
        padding-right: 50px;
        padding-left: 50px;
        box-sizing: border-box;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;

        @media screen and (min-width: 1200px) {
            max-width: 1400px !important ;
        }

        h2 {
            font-size: 2em;
            font-weight: 600;
            color: #410071;
        }

        h4 {
            font-size: 1.2em;
            color: #410071;
        }

        .whyus-cards {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 50px;

            .whyus-card {
                flex-basis: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                gap: 20px;


                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h4 {
                        font-size: 1.2em;
                        font-weight: 600;
                    }

                    p {
                        font-size: .8em;
                    }
                }
            }
        }
    }
}


.candid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
    background: url(/assets/images/About/ChooseBG.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: scroll;

    .title-main {
        margin-bottom: 5dvh;
    }

    .candid-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        text-align: left;
        padding-right: 50px;
        padding-left: 50px;
        box-sizing: border-box;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;

        @media screen and (min-width: 1200px) {
            max-width: 1400px !important ;
        }

        h2 {
            font-size: 2em;
            font-weight: 600;
            color: #410071;
        }

        h4 {
            font-size: 1.2em;
            color: #410071;
        }

        .candid-cards {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 50px;

            .candid-card {
                flex-basis: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                gap: 20px;


                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h4 {
                        font-size: 1.2em;
                        font-weight: 600;
                    }

                    p {
                        font-size: .8em;
                    }
                }
            }
        }
    }
}