.gen-cont {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5dvh;

    .back-img {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        background: white; /* Inner background */
        border-radius: 20px;
        z-index: 1; /* Ensures it stays above the gradient */
        overflow: hidden; /* Prevents pseudo-element from leaking */
        padding: 5dvh;
        gap: 20px;
        max-width: 1400px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 2px; /* Border thickness */
            background: linear-gradient(to bottom, #5d1a9888 10%, #ffffff00 80%);
            border-radius: 25px;
            z-index: -1; /* Keeps it behind the card */
            mask:
                linear-gradient(white, white) content-box,
                linear-gradient(white, white);
            mask-composite: exclude;
            -webkit-mask:
                linear-gradient(white, white) content-box,
                linear-gradient(white, white);
            -webkit-mask-composite: destination-out;
        }

        .page-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3em;
            width: 100%;
            position: relative;

            h2 {
                font-weight: 600;
                font-size: 2em;
                color: #5e1a98;
                text-align: center;
                width: 50%;
            }

            .cards-cont {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
                width: 80%;
                position: relative;
                background: white; /* Inner background */
                border-radius: 20px;
                z-index: 1; /* Ensures it stays above the gradient */
                overflow: hidden; /* Prevents pseudo-element from leaking */
                padding: 5dvh;
                gap: 20px;
                transition: all 0.3s ease;

                &:hover {
                    .card {
                        opacity: 0.7;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 2px; /* Border thickness */
                    background: linear-gradient(to bottom, #5d1a9888 10%, #ffffff00 80%);
                    border-radius: 25px;
                    z-index: -1; /* Keeps it behind the card */
                    mask:
                        linear-gradient(white, white) content-box,
                        linear-gradient(white, white);
                    mask-composite: exclude;
                    -webkit-mask:
                        linear-gradient(white, white) content-box,
                        linear-gradient(white, white);
                    -webkit-mask-composite: destination-out;
                }

                .active {
                    transform: scale(1.1);
                    box-shadow: 0 0 10px -5px #5d1a98;
                    opacity: 1;

                    img {
                        opacity: 1;
                    }
                }

                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 20px;
                    flex-basis: 20%;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    padding: 20px 0;
                    border-radius: 31px;

                    &:hover {
                        transform: scale(0.97);
                        opacity: 1;
                    }

                    img {
                        width: 60%;
                    }
                }
            }

            .infos-cont {
                display: flex;
                justify-content: space-evenly;
                align-items: flex-start;
                width: 70%;

                .inps {
                    display: flex;
                    flex-direction: column;
                    justify-items: flex-start;
                    align-items: flex-start;
                    gap: 20px;
                    width: 100%;
                    flex-basis: 30%;

                    .inp {
                        display: flex;
                        flex-direction: column;
                        justify-items: center;
                        align-items: flex-start;
                        gap: 10px;
                        width: 100%;

                        label {
                            font-size: 1em;
                        }

                        input {
                            width: 100%;
                            border: 1px solid #410071;
                            outline: none;
                            border-radius: 5px;
                            padding: 10px;
                            box-sizing: border-box;
                            font-size: 1.2em;
                            font-family: "Poppins", sans-serif;
                            font-weight: 500;
                        }

                        .option {
                            width: 100%;
                            border: 1px solid #410071;
                            outline: none;
                            border-radius: 5px;
                            padding: 10px;
                            font-size: 1.2em;
                            font-family: "Poppins", sans-serif;
                            font-weight: 500;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 10px;

                            input {
                                appearance: none;
                                border: 2px solid gray;
                                border-radius: 50%;
                                position: relative;
                                width: 16px;
                                height: 16px;

                                &:checked {
                                    border-color: purple;
                                    background-color: white;

                                    &::before {
                                        content: "";
                                        width: 8px;
                                        height: 8px;
                                        background: purple;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        border-radius: 50%;
                                    }
                                }
                            }

                            span {
                                flex-basis: 90%;
                            }
                        }
                    }
                }
            }

            .next-but {
                font-size: 1.4em;
                padding: 10px 30px;
                border: none;
                outline: none;
                position: absolute;
                bottom: 0;
                right: 5%;
                z-index: 4;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: #410071;
                color: #fff;
                cursor: pointer;
                transition: all 0.5s ease;

                &:hover {
                    transform: scale(0.97);
                    opacity: 0.7;
                }
            }
        }

        .progress-bar {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin: 20px auto;
            width: 70%;

            .step {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                color: grey;

                .number {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: grey;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                }

                .text {
                    margin-top: 5px;
                    font-size: 14px;
                }

                &.active {
                    color: #5e1a98;

                    .number {
                        background: #5e1a98;
                    }
                }
            }

            .line {
                flex: 1;
                height: 1.5px;
                background: grey;
            }
        }
    }
}

.calendar-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 50%;
    position: relative;
    background: white; /* Inner background */
    border-radius: 20px;
    z-index: 1; /* Ensures it stays above the gradient */
    overflow: hidden; /* Prevents pseudo-element from leaking */
    padding: 5dvh 8dvh;
    gap: 20px;
    max-width: 1400px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 2px; /* Border thickness */
        background: linear-gradient(to bottom, #5d1a9888 10%, #ffffff00 80%);
        border-radius: 25px;
        z-index: -1; /* Keeps it behind the card */
        mask:
            linear-gradient(white, white) content-box,
            linear-gradient(white, white);
        mask-composite: exclude;
        -webkit-mask:
            linear-gradient(white, white) content-box,
            linear-gradient(white, white);
        -webkit-mask-composite: destination-out;
    }

    .time-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        max-width: 300px;
        padding: 10px;
        border-radius: 20px;
        background: #ffffff;
        flex-basis: 30%;

        h4 {
            font-size: 1.2em;
            font-weight: 600;
        }

        .time-slots {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;

            .selected {
                background-color: #5d1a98;
                color: #fff;
                border: 2px solid #5d1a98;
            }

            .time-slot {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50px;
                border-radius: 10px;
                outline: none;
                border: 2px solid #000;
                color: #000;
                background-color: #fff;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #5d1a98;
                    color: #fff;
                    border: 2px solid #5d1a98;
                }
            }
        }
    }

    .calendar {
        flex-basis: 70%;

        .react-calendar {
            border: none;

            .react-calendar__navigation {
                display: flex;
                justify-content: flex-start;
                height: 20px;
                margin-bottom: 1em;
                align-items: center;
                position: relative;

                button {
                    font-size: 1em;
                    background-color: transparent !important;

                    &:nth-child(1),
                    &:nth-child(5) {
                        display: none;
                    }

                    &:nth-child(3) {
                        text-align: left;
                        margin-left: 2%;

                        span {
                            font-weight: 600 !important;
                        }
                    }

                    &:nth-child(4) {
                        font-size: 1.8em;
                        color: #410071;
                    }

                    &:nth-child(2) {
                        position: absolute;
                        right: 8%;
                        font-size: 1.8em;
                        color: #410071;
                    }
                }
            }

            .react-calendar__tile--now {
                background-color: #5d1a98ae;
                color: #fff;
                border-radius: 5px;
            }

            .react-calendar__tile--active:enabled:hover,
            .react-calendar__tile--active:enabled:focus,
            .react-calendar__tile--active {
                background-color: #410071 !important;
                border-radius: 5px !important;
            }

            .react-calendar__viewContainer {
                .react-calendar__month-view__weekdays {
                    abbr {
                        text-decoration: none;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}
