nav {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0.1);

    .nav-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 20px 30px;
        height: 100%;
        box-sizing: border-box;

        @media screen and (min-width: 1200px) {
            max-width: 1400px !important ;
        }

        img {
            width: 60px;
        }

        .nav-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 50px;

            a {
                text-decoration: none;
                color: #000;
                font-size: 1rem;
                font-weight: 500;
                transition: all 0.3s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    margin-left: 10px;
                }

                &:hover {
                    color: #5e1a98;
                }
            }
        }

        

        .get_consult {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 20px 20px;
            font-size: 18px;
            font-weight: 600;
            border-radius: 10px;
            outline: none;
            border: none;
            background-color: #5e1a98; /* Purple text */
            color: #fff;
            cursor: pointer;
        }

        .get_consult:hover {
            color: #000; /* Black text on hover */
        }
    }
}
