.hero-container {
    background: url(/assets/images/HeroBack.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 5dvh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;

    .left {
        flex-basis: 60%;
        min-height: 80dvh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        box-sizing: border-box;
        padding-top: 20px;
        padding: 0 5em;

        h2 {
            font-size: 52px;
            word-spacing: 0.4em;
            letter-spacing: 0.1em;
            color: #e2e2e2;
            font-family: "Poppins";
            font-weight: 700;

            span {
                font-weight: 700;
                color: #f7c607;
            }
        }

        p {
            font-size: 20px;
            width: 70%;
            color: #e2e2e2b5;
            font-family: "Poppins";
            font-weight: 500;
        }

        .search-container {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            color: #000;

            .search-input {
                width: 100%;
                flex-basis: 50%;
                height: auto;
                background-color: #fff;
                min-height: 70px;
                border-radius: 10px 0 0 10px;
                padding: 10px 20px;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                flex-direction: column;
                cursor: pointer;

                &:nth-child(2) {
                    border-radius: 0;
                }

                label {
                    font-size: 18px;
                    font-weight: 600;
                    color: #5e1a98;
                }

                .dropdown {
                    width: 100%;
                    .dropdown-btn {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 20px;
                        padding: 0 10px;
                    }
                }

                .active {
                    display: flex !important;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: white;
                    width: 100%; // Take full width
                    max-height: 200px;
                    overflow-y: auto; // Add scroll if needed
                    z-index: 1000; // Ensure it appears above other elements
                    border: 1px solid #e2e2e2;
                    border-radius: 8px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    left: 0;
                    flex-direction: column;
                    padding: 10px;
                    box-sizing: border-box;
                    margin-top: 10px;

                    scrollbar-width: 10px;
                    scrollbar-color: #5e1a98;
                    scrollbar-track-color: #ddd;
                    scrollbar-thumb-color: #5e1a98;
                    scrollbar-corner-radius: 5px;

                    &::-webkit-scrollbar {
                        width: 10px;
                        height: 10px;
                        background-color: #ddd;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #5e1a98;
                        border-radius: 5px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: #ddd;
                    }

                    &::-moz-scrollbar-thumb {
                        background-color: #5e1a98;
                        border-radius: 5px;
                    }

                    &::-moz-scrollbar-track {
                        background-color: #ddd;
                    }

                    &::-ms-scrollbar-thumb {
                        background-color: #5e1a98;
                        border-radius: 5px;
                    }

                    &::-ms-scrollbar-track {
                        background-color: #ddd;
                    }

                    .dropdown-item {
                        font-size: 18px;
                        padding: 10px 0;
                    }
                }
            }

            .search-button {
                height: auto;
                background-color: #f7c607;
                border-radius: 0 10px 10px 0;
                padding: 10px 20px;
                box-sizing: border-box;
                border: none;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #000;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }

    .right {
        flex-basis: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}
